<div class="container">
  <h2>Login</h2>
  <form action="" class="signup-form">
    <label for="email">Email</label>
    <input
      class="form-input"
      id="email"
      type="email"
      placeholder="Insert your email..."
    />
    <label for="pw">Password</label>
    <input
      class="form-input"
      id="pw"
      type="password"
      placeholder="Insert your password..."
    />
    <button id="form-btn" class="form-btn">
      <a style="text-decoration: none; color: black" routerLink="/profile"
        >Login</a
      >
    </button>
  </form>
  <p style="text-align: center">
    Don't have an account yet? <a routerLink="/signup">Signup</a>
  </p>
</div>
