<div class="container">
  <a class="back" routerLink="/maps">back</a>
  <div class="profile">
    <div class="left">
      <img
        src="https://icon-library.com/images/default-profile-icon/default-profile-icon-16.jpg"
        alt=""
      />
      <h3 id="name">Ocean Widjaja</h3>
      <h4 id="job">title</h4>
    </div>
    <div class="right">
      <h4>email:</h4>
      <p id="email">oceanwidjaja@gmail.com</p>
      <h4>address:</h4>
      <p id="address">xxxxxxx</p>
      <h4>city:</h4>
      <p id="city">Jakarta</p>
      <h4>interest:</h4>
      <p id="interest">Computer-Science</p>
    </div>
  </div>
</div>
